<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.koreait.coffee.model.dto"/>
    </typeAliases>


    <!--
        environments: 配置数据库连接环境信息,可以配置多个environment,通过default属性切换不同的environment
    -->
    <environments default="coffee">
        <environment id="coffee">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--数据库连接信息-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///KoreaIT_teamWork1?allowPublicKeyRetrieval=true&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="11111111"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--加载sql的映射文件-->
        <!--        <mapper resource="com/itheima/Mapper/UserMapper.xml"/>-->
        <package name="com.koreait.coffee.model.mapper"/>
    </mappers>
</configuration>